<mat-form-field>
  <input [disabled]="!enableDateAndDockEditing()" [(ngModel)]="departureDate" readonly matInput [matDatepicker]="picker" placeholder="Дата вылета">
  <mat-datepicker-toggle [disabled]="!enableDateAndDockEditing()" matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <mat-select [disabled]="!enableDateAndDockEditing()" [(value)]="departureTime" placeholder="Время вылета">
    <mat-option *ngFor="let time of departureTimes" [value]="time">
      {{ time }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select [disabled]="!enableDateAndDockEditing()" [(value)]="dock" placeholder="Номер дока">
    <mat-option *ngFor="let d of docks" [value]="d">
      {{ d }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select [(value)]="company" placeholder="Компания">
    <mat-option *ngFor="let c of companies" [value]="c.code">
      {{ c.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="fullwidth" *ngFor="let role of roles">
  <mat-select [(value)]="crew[role]" [placeholder]="role">
    <mat-option [value]="undefined">
      (неизвестно)
    </mat-option>
    <mat-option *ngFor="let user of users" [value]="user.id">
      {{ user.name }} ({{ user.id }})
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="fullwidth">
  <mat-select multiple [(value)]="crew['other']" placeholder="Пассажиры">
    <mat-option *ngFor="let user of users" [value]="user.id">
      {{ user.name }} ({{ user.id }})
    </mat-option>
  </mat-select>
</mat-form-field>

<button color="primary" mat-raised-button (click)="save()" [disabled]="!canSave()">
  Сохранить
</button>