.mat-list .mat-list-item {
    height: 2.2em; /* default is 72px */
  }

  .mat-card {
    padding: 12px;
    height: 88%;
    width: 19em;
    flex: 1 0 19em;
    margin: 0.5rem .25em;
  }

  .mat-card.highlighted {
    background-color: #ffd640a6 !important;
  }

  img {
    margin-right: 0.7em;
  }
