<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="technology">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Технология </th>
    <td mat-cell *matCellDef="let technologyChoice">
      <mat-form-field>
        <mat-select (selectionChange)="technologySelected($event.value, technologyChoice)">
          <mat-option>
            Нет
          </mat-option>
          <mat-option *ngFor="let tech of availableTechnologies" [value]="tech.code">
            {{ tech.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Вклад </th>
    <td mat-cell *matCellDef="let technologyChoice">
      <mat-slider [disabled]="!enableSlider(technologyChoice)" color="primary"
        min="0" max="10" step="1" value="0" tickInterval="1" thumbLabel></mat-slider>
    </td>
    <td mat-footer-cell align="right" *matFooterCellDef><b>Итого:</b></td>
  </ng-container>

  <ng-container *ngFor="let col of getCostsColumns()" [matColumnDef]="col">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ humanReadableColumnName(col) }} </th>
    <td mat-cell *matCellDef="let model"> XXX </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getAllColumns()"></tr>
  <tr mat-row *matRowDef="let technologyChoice; columns: getAllColumns();"></tr>
  <tr mat-footer-row *matFooterRowDef="getAllColumns()"></tr>
</table>