table
{
    width: 100%;
}

.az_dropdown .mat-form-field,
.az_dropdown .mat-form-field-wrapper,
.az_dropdown .mat-form-field-inflix
{
    min-width: 90px !important;
    width: 90px !important;
}

tr:hover
{
    background: rgba(0, 0, 0, 0.03);
}

.reserved-by-you
{
    background: #ffd740 !important;
}

.reserved-by-you td
{
    border-bottom-width: 0;
}

.not-reserved-by-you td
{
    border-bottom-width: 0;
}


tr.model-detail-row {
    height: 0;
}

.model-detail {
    overflow: hidden;
    display: flex;
}