.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: stretch;
  }

.new-flight {
    z-index: 2;
    position: fixed;
    bottom: 2em;
    right: 2em;
  }
  